html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    margin-top: 50px;
}

.display-4 {
    color: steelblue;
}

.lead {
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

