@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<!-- Doldurulması gereken kısımlar -->

<p>
    We are committed to protecting your privacy. This Privacy Policy outlines how we collect, use, and safeguard your personal information when you use our website.
    Please read this Privacy Policy carefully to understand our practices regarding your personal information and how we will treat it. By using our website, you consent to the practices described in this Privacy Policy.
</p>

<h2>Information We Collect</h2>

<p>
    In order to provide you with the best possible experience on our website, we may collect certain personal information from you. The types of information we may collect include:
</p>

<ul>
    <li>Your name</li>
    <li>Your email address</li>
    <li>Any other information you provide voluntarily</li>
</ul>

<h2>How We Use Your Information</h2>

<p>
    We may use the information we collect from you for various purposes, including:
</p>

<ul>
    <li>Providing and maintaining our website</li>
    <li>Responding to your inquiries or providing customer support</li>
    <li>Improving our website and services</li>
    <li>Sending you promotional emails or newsletters (if you have opted-in to receive them)</li>
</ul>

<h2>Information Sharing and Disclosure</h2>

<p>
    We do not sell, trade, or otherwise transfer your personal information to outside parties without your consent. However, we may share your information in the following circumstances:
</p>

<ul>
    <li>With trusted third-party service providers who assist us in operating our website and conducting our business</li>
    <li>If required by law or to protect our rights, property, or safety, or the rights, property, or safety of others</li>
    <li>In the event of a merger, acquisition, or sale of all or a portion of our assets, your personal information may be transferred to the acquiring organization</li>
</ul>

<h2>Security</h2>

<p>
    We take the security of your personal information seriously and have implemented appropriate measures to protect it. However, please be aware that no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security.
</p>

<h2>Your Choices</h2>

<p>
    You have the right to access, update, or delete the personal information we hold about you. If you would like to exercise any of these rights or have any questions or concerns about our Privacy Policy, please
    <a href="mailto:edabelge00@gmail.com">contact us</a> using the information provided below.
</p>

<h2>Contact Us</h2>

<p>
    If you have any questions or concerns about our Privacy Policy, please contact us at:
</p>

<p>
    <a href="mailto:edabelge00@gmail.com">edabelge00@gmail.com</a>
</p>

<p>
    This Privacy Policy was last updated on 06.18.2023.
</p>
